{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Bob's Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<h1>This is Bob's page</h1>
	<p>Bob!</p>
	<ul>
		<li>Bob</li>
		<li>Bob</li>
		<li>Bob</li>
	</ul>

	<h2>Bob is eating: {{ bobs_fave_food}}</h2>
	{% if bob_is_tire %}
		<h3>Bob is going to bed</h3>
	{% else %}
		<h3>Bob is wide awake!</h3>
	{% endif %}

	<h2>Bob's Pets</h2>
	{% for p in bobs_pets %}
		<p>{{ p }}</p>
	{% endfor %}
</body>
</html>